[project]
	description = TWRP Build Source For YUreka
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AnkitGourav (Ankit-Gourav)
[access "refs/for/refs/*"]
	read = group user/AnkitGourav (Ankit-Gourav)
	push = group user/AnkitGourav (Ankit-Gourav)
	label-Code-Review = -2..+2 group user/AnkitGourav (Ankit-Gourav)
	label-Verified = -1..+1 group user/AnkitGourav (Ankit-Gourav)
	rebase = group user/AnkitGourav (Ankit-Gourav)
	removeReviewer = group user/AnkitGourav (Ankit-Gourav)
	submit = group user/AnkitGourav (Ankit-Gourav)
[access "refs/heads/*"]
	read = group user/AnkitGourav (Ankit-Gourav)
	create = group user/AnkitGourav (Ankit-Gourav)
	push = +force group user/AnkitGourav (Ankit-Gourav)
	pushMerge = group user/AnkitGourav (Ankit-Gourav)
[access "refs/tags/*"]
	push = group user/AnkitGourav (Ankit-Gourav)
	push = +force group user/AnkitGourav (Ankit-Gourav)
